{
    "presets": [
        "@babel/preset-env", "@babel/preset-react"
    ],
    "plugins": [
        [
          "@babel/plugin-proposal-class-properties" // Needed this to put functions inside app.js
        ],

        ["import", {
            "libraryName": "antd",
            "style": true
        }]

        
    ]
}