
@import '../utility';
@import '../theme';

.create-spinner__positioning{
    display: flex;
    justify-content: center;
}

.create-form{
    width: 45%;
    margin-right: auto;
    margin-left: auto;
}

.create-form__title{
    font-size: 1.6rem;
    color: rgba(0,0,0,0.65);
}

@media screen and (max-width: 480px) and (min-width: 0px){
    .create-form{
        width: 90%;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px){
    .create-form{
        width: 70%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px){
    .create-form{
        width: 60%;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1023px){
    .create-form{
        width: 50%;
    }
}
