@import '../theme';
@import '../utility';

td a {
    cursor: auto;
}

.table-spinner__positioning{
    display: flex;
    justify-content: center;
}

.ant-carousel{
    padding: 0px 25px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 420px;
    line-height: 160px;
    background: #fff;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide img {
    min-height: 420px !important;
  }
  
  .carousel-slide{
      min-height: 100% !important;
  }
 
  .ant-card-cover img{
      min-height: 200px;
      height: 200px !important;
  }