$primary: #0070ba;
$primary-light: rgba(0, 112, 186, 0.15);
$secondary: #003087;
$light: #f5f7fa;
$black: #2c2e2f;
$main-font: 'Roboto', sans-serif;
$text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
$text-shadow-slight: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 3.5px rgba(0, 0, 0, 0.05), 0px 4.5px 6px rgba(0, 0, 0, 0.05);

@mixin gradient-primary{
    background: $primary;
    background: radial-gradient(circle, $primary 12%, $secondary 85%);
}

div.ant-card-head-title{
    color: rgba(0,0,0,0.65);
}


// Product table cells
td a {
    cursor: auto;
}
