@import '../theme';
@import '../utility';


span.anticon.anticon-right{
    margin-left: auto;
    margin-right: auto;
}

.alert-text__positioning{
    text-align: center;
}

ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal{
    background: transparent;
}